In [43]:
import numpy as np

scores = np.random.randint(50, 100, size=(50, 5))
scores

array([[55, 57, 80, 66, 76],
       [91, 59, 58, 66, 72],
       [84, 87, 61, 95, 75],
       [69, 89, 71, 83, 85],
       [63, 67, 96, 72, 99],
       [80, 60, 79, 93, 96],
       [73, 97, 89, 91, 74],
       [72, 71, 88, 52, 87],
       [68, 58, 85, 74, 62],
       [60, 71, 95, 67, 93],
       [74, 75, 80, 90, 50],
       [90, 96, 73, 55, 59],
       [79, 55, 81, 84, 50],
       [76, 89, 71, 61, 81],
       [77, 78, 98, 68, 69],
       [61, 57, 57, 82, 85],
       [91, 53, 57, 70, 64],
       [64, 85, 55, 51, 93],
       [94, 93, 81, 60, 99],
       [53, 85, 89, 80, 91],
       [72, 94, 68, 62, 50],
       [67, 50, 65, 66, 98],
       [52, 88, 70, 78, 55],
       [82, 69, 77, 91, 57],
       [61, 70, 78, 70, 63],
       [52, 73, 54, 92, 94],
       [50, 83, 58, 53, 79],
       [75, 58, 86, 50, 64],
       [91, 63, 52, 75, 60],
       [88, 63, 99, 75, 55],
       [96, 87, 84, 56, 96],
       [52, 58, 69, 69, 50],
       [97, 74, 95, 93, 97],
       [89, 63, 50, 98, 57],
       [97, 67, 64, 51, 57],
       [65, 88, 94, 84, 61],
       [70, 55, 88, 87, 72],
       [96, 92, 58, 69, 67],
       [55, 90, 75, 75, 50],
       [93, 78, 59, 85, 79],
       [69, 99, 92, 62, 56],
       [81, 68, 85, 53, 56],
       [58, 77, 99, 95, 72],
       [90, 69, 91, 60, 98],
       [65, 96, 66, 84, 88],
       [80, 97, 76, 54, 97],
       [93, 94, 66, 85, 86],
       [82, 52, 59, 55, 83],
       [53, 70, 94, 64, 66],
       [58, 80, 64, 50, 94]], dtype=int32)

In [44]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文", "英文", "數學", "地理", "歷史"]
            )  #建立DataFrame，index為學生編號，columns為科目名稱

In [45]:
#透過欄的選取

df["國文"]  #取得國文成績
df["英文"]  #取得英文成績
df[["國文","英文"]]

      國文  英文
學生1   55  57
學生2   91  59
學生3   84  87
學生4   69  89
學生5   63  67
學生6   80  60
學生7   73  97
學生8   72  71
學生9   68  58
學生10  60  71
學生11  74  75
學生12  90  96
學生13  79  55
學生14  76  89
學生15  77  78
學生16  61  57
學生17  91  53
學生18  64  85
學生19  94  93
學生20  53  85
學生21  72  94
學生22  67  50
學生23  52  88
學生24  82  69
學生25  61  70
學生26  52  73
學生27  50  83
學生28  75  58
學生29  91  63
學生30  88  63
學生31  96  87
學生32  52  58
學生33  97  74
學生34  89  63
學生35  97  67
學生36  65  88
學生37  70  55
學生38  96  92
學生39  55  90
學生40  93  78
學生41  69  99
學生42  81  68
學生43  58  77
學生44  90  69
學生45  65  96
學生46  80  97
學生47  93  94
學生48  82  52
學生49  53  70
學生50  58  80

In [46]:
#透過index還取
df.loc["學生1"]
df.loc[["學生1", "學生2"]]

     國文  英文  數學  地理  歷史
學生1  55  57  80  66  76
學生2  91  59  58  66  72

In [47]:
#透過index索引值選取
df.iloc[0]
df.iloc[[0, 1]]

     國文  英文  數學  地理  歷史
學生1  55  57  80  66  76
學生2  91  59  58  66  72

In [48]:
df.iloc[:5] #取得前五個學生的成績
df.iloc[-5:] #取得最後五個學生的成績

      國文  英文  數學  地理  歷史
學生46  80  97  76  54  97
學生47  93  94  66  85  86
學生48  82  52  59  55  83
學生49  53  70  94  64  66
學生50  58  80  64  50  94

In [49]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)
mean

學生1     66.8
學生2     69.2
學生3     80.4
學生4     79.4
學生5     79.4
學生6     81.6
學生7     84.8
學生8     74.0
學生9     69.4
學生10    77.2
學生11    73.8
學生12    74.6
學生13    69.8
學生14    75.6
學生15    78.0
學生16    68.4
學生17    67.0
學生18    69.6
學生19    85.4
學生20    79.6
學生21    69.2
學生22    69.2
學生23    68.6
學生24    75.2
學生25    68.4
學生26    73.0
學生27    64.6
學生28    66.6
學生29    68.2
學生30    76.0
學生31    83.8
學生32    59.6
學生33    91.2
學生34    71.4
學生35    67.2
學生36    78.4
學生37    74.4
學生38    76.4
學生39    69.0
學生40    78.8
學生41    75.6
學生42    68.6
學生43    80.2
學生44    81.6
學生45    79.8
學生46    80.8
學生47    84.8
學生48    66.2
學生49    69.4
學生50    69.2
dtype: float64

In [50]:
df["總分"] = total
df["平均"] = mean
df

      國文  英文  數學  地理  歷史   總分    平均
學生1   55  57  80  66  76  334  66.8
學生2   91  59  58  66  72  346  69.2
學生3   84  87  61  95  75  402  80.4
學生4   69  89  71  83  85  397  79.4
學生5   63  67  96  72  99  397  79.4
學生6   80  60  79  93  96  408  81.6
學生7   73  97  89  91  74  424  84.8
學生8   72  71  88  52  87  370  74.0
學生9   68  58  85  74  62  347  69.4
學生10  60  71  95  67  93  386  77.2
學生11  74  75  80  90  50  369  73.8
學生12  90  96  73  55  59  373  74.6
學生13  79  55  81  84  50  349  69.8
學生14  76  89  71  61  81  378  75.6
學生15  77  78  98  68  69  390  78.0
學生16  61  57  57  82  85  342  68.4
學生17  91  53  57  70  64  335  67.0
學生18  64  85  55  51  93  348  69.6
學生19  94  93  81  60  99  427  85.4
學生20  53  85  89  80  91  398  79.6
學生21  72  94  68  62  50  346  69.2
學生22  67  50  65  66  98  346  69.2
學生23  52  88  70  78  55  343  68.6
學生24  82  69  77  91  57  376  75.2
學生25  61  70  78  70  63  342  68.4
學生26  52  73  54  92  94  365  73.0
學生27  50  83  58  53  79  323  64.6
學生28  75  58  86  50  64  333  66.6
學生29  91  63  52  75  60  341  68.2
學生30  88  63  99  75  55  380  76.0
學生31  96  87  84  56  96  419  83.8
學生32  52  58  69  69  50  298  59.6
學生33  97  74  95  93  97  456  91.2
學生34  89  63  50  98  57  357  71.4
學生35  97  67  64  51  57  336  67.2
學生36  65  88  94  84  61  392  78.4
學生37  70  55  88  87  72  372  74.4
學生38  96  92  58  69  67  382  76.4
學生39  55  90  75  75  50  345  69.0
學生40  93  78  59  85  79  394  78.8
學生41  69  99  92  62  56  378  75.6
學生42  81  68  85  53  56  343  68.6
學生43  58  77  99  95  72  401  80.2
學生44  90  69  91  60  98  408  81.6
學生45  65  96  66  84  88  399  79.8
學生46  80  97  76  54  97  404  80.8
學生47  93  94  66  85  86  424  84.8
學生48  82  52  59  55  83  331  66.2
學生49  53  70  94  64  66  347  69.4
學生50  58  80  64  50  94  346  69.2

In [52]:
five_df = df.iloc[:5] 
five_df["總分"] >= 380  #可以用比較運算子
five_df[five_df["總分"] >= 380]  #取得總分大於等於380的學生資料，series顯示法

     國文  英文  數學  地理  歷史   總分    平均
學生3  84  87  61  95  75  402  80.4
學生4  69  89  71  83  85  397  79.4
學生5  63  67  96  72  99  397  79.4

In [53]:
df[df['總分'] >= 380]

      國文  英文  數學  地理  歷史   總分    平均
學生3   84  87  61  95  75  402  80.4
學生4   69  89  71  83  85  397  79.4
學生5   63  67  96  72  99  397  79.4
學生6   80  60  79  93  96  408  81.6
學生7   73  97  89  91  74  424  84.8
學生10  60  71  95  67  93  386  77.2
學生15  77  78  98  68  69  390  78.0
學生19  94  93  81  60  99  427  85.4
學生20  53  85  89  80  91  398  79.6
學生30  88  63  99  75  55  380  76.0
學生31  96  87  84  56  96  419  83.8
學生33  97  74  95  93  97  456  91.2
學生36  65  88  94  84  61  392  78.4
學生38  96  92  58  69  67  382  76.4
學生40  93  78  59  85  79  394  78.8
學生43  58  77  99  95  72  401  80.2
學生44  90  69  91  60  98  408  81.6
學生45  65  96  66  84  88  399  79.8
學生46  80  97  76  54  97  404  80.8
學生47  93  94  66  85  86  424  84.8